<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mobilize">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Vista.Activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Vista.Activities.LoginActivity" />
        <activity android:name=".Vista.Activities.RegisterActivity" />
        <activity android:name=".Vista.Activities.MainActivity" />
        <activity android:name=".Vista.Activities.ModalitatExercici" />
        <activity android:name=".Vista.Activities.ModalitatEntrenament" />
        <activity android:name=".Vista.Activities.NivellEntrenament" />
        <activity android:name=".Vista.Activities.RegisterMessageActivity" />
        <activity android:name=".Vista.Activities.TipusPlan" />
        <activity android:name=".Vista.Activities.OptionsActivity"/>
        <activity android:name=".Vista.Activities.Seleccionar_rutina" />
        <activity
            android:name=".Vista.Activities.PopUpRutina"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Vista.Activities.IdiomActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
