<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.mobilize">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        tools:ignore="LockedOrientationActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vista.Activities.CalendarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Vista.Activities.VeurePlanning" />

        <service
            android:name=".Vista.Activities.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Vista.Activities.Create_plan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.Seleccionar_planning"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.AvancaRutinaNoWorkout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.AvancaRutina"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.VeureExerciciNoWorkout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.VeureExercici"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Vista.Activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.Activities.TrackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.RegisterMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.ModalitatExercici"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.ModalitatEntrenament"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.NivellEntrenament"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.TipusPlan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.OptionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.UserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.Seleccionar_rutina"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.CreateEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Vista.Activities.PopUpRutina"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Vista.Activities.PopUpEventListInscriptions"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Vista.Activities.QuestionDialog"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.IdiomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.InfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.AlertsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Vista.Activities.AddAlertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/addReminder"
            android:parentActivityName=".Vista.Activities.AlertsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Vista.Activities.AlertsActivity" />
        </activity>
        <activity android:name=".Vista.Activities.ActivitatsUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.AfegirRutina"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.ModifyEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Vista.Activities.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Vista.Activities.RankingActivity" />

        <provider
            android:name=".Vista.Activities.Data.AlarmReminderProvider"
            android:authorities="com.app.mobilize.Vista.Activities.Data.AlarmReminderProvider"
            android:exported="false" />

        <service
            android:name=".Vista.Activities.Reminder.ReminderAlarmService"
            android:exported="false" />

        <receiver android:name=".Vista.Activities.ReminderBroadcast" />
        <receiver android:name=".Vista.Activities.Reminder.AlarmScheduler" />
        <receiver android:name=".Vista.Activities.AddAlertActivity" />
        <receiver android:name=".Vista.Activities.Reminder.AlarmManagerProvider" />
        <receiver android:name=".Vista.Activities.Data.AlarmReminderProvider" />
        <receiver android:name=".Vista.Activities.Data.AlarmReminderContract" />
        <receiver android:name=".Vista.Activities.AlertsActivity" />
    </application>

</manifest>